h1{
    font-size: 30px;
    text-allign: center;
    text-size: 32px;

}

div{
    text-align: center;
}
button{
    margin: 5px;
    font-size: 20px;
    background: chartreuse;
    border-radius: 4px;
    
}
p{
    margin: 5px;
    background: yellow;
}

