h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    text-align: center;
}
div{
    text-align: center;
}
button{
    margin: 5px;
    font-size: 20px;
    background: chartreuse;
    border-radius: 4px;
    
}